.sceditor-button-spoiler div {
	background-image:url(s.png);
	height: 16px;
	width: 16px;
}
.sceditor-button-imgur div {
	background-image:url(imgur.png);
	height: 16px;
	width: 16px;
}
.sceditor-button-imgur div.imgurup {
	background-image:url(spinner.gif) !important;
	height: 16px;
	width: 16px;
}